@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind&display=swap");

:root {
  --black: #2c2e2b;
  --dark-grey: #4d5549;
  --light-grey: #c7ccc8;
  --secondary-font: "Hind", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lora", serif;
  color: var(--dark-grey);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
}

p.lead {
  color: var(--black);
  font-family: var(--secondary-font);
}

.container {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

@media only screen and (min-width: 640px) {
  .container {
    width: 86%;
  }
}

@media only screen and (min-width: 940px) {
  .container {
    width: 84%;
    max-width: 1420px;
  }
}

select {
  border: none;
  padding: 0.5rem;
}
select:focus {
  outline: none;
}

body.fix {
  overflow: hidden;
  height: 100vh;
}
